<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>deploy mysql server</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo sleep 10 ;
sudo rm -f /etc/puppet/manifests/site.pp ; 
sudo ln -s /etc/puppet/nodes-mysql.pp /etc/puppet/manifests/site.pp
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>ssh -i /as/ami.pem ami@10.1.134.144 &quot;sudo puppet agent --test; exit 0&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>deploy-tomcat</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>